*{
    margin: 0;

    font-family: "Gill Sans", sans-serif;
    font-style: normal;
    line-height: 30px;
}
body{
    padding: 40px 100px; 
}

button{
    padding: 9px 25px;
    font-size: 30px;
    background-color: #566DF6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFFF;
    width: 60%;
}

.score{
    margin-bottom: 80px;
}

.score h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 70px;
}

.score h2{
    text-align: center;
    font-size: 24px;
}
.res{
    border-bottom: 1px solid #E1DDDD;
    margin-bottom: 40px;
}

.main_info span:first-child{
    font-size: 30px;
    margin-right: 20px;
}

.main_info span:last-child{
    font-size: 20px;
}

.main_info p:last-child{
    color: #868686;
    margin-left: 40px;
}

.info2{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
}

.info2 div:first-child{
    display: flex;
    align-items: center;
    justify-content: left;
}

.info2 div:first-child div{
    margin-left: 40px;
}

.info2 div:first-child div p{
    color: #868686;
}



.btn{
    background-color: #566DF6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}


.btn img{
    height: 30px;
    width: 30px;
}

.container{
    margin-bottom: 120px;
}

.asd{
    display: flex;
    justify-content: center;
}

.asd button a{
    color: white;
    text-decoration: none;
}